<%if !loged_user%>
  <li class="nav-item"><%=link_to 'LogIn', auth_path, class: 'nav-link active'%></li>
<%elsif current_admin%>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%=current_admin.email%>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%=link_to 'LogOut',  destroy_admin_session_path, 
                                data: { "turbo-method": :delete }, class: 'dropdown-item'%>
    </div>
  </div>
  <li class="nav-item"></li>
<%elsif current_user%>
  <li class="nav-item"><%=link_to 'LogOut',  destroy_user_session_path, 
                                data: { "turbo-method": :delete }, class: 'nav-link active'%></li>
<%end%>
